.loader4 {
  width: 3.5em;
  height: 3.5em;
  border-radius: 3.5em;
  background: #ffb011;
  animation: circleColor 5s infinite, rotation 5s infinite; }
  .loader4:before, .loader4:after {
    content: "";
    display: block;
    width: 3.5em;
    height: 1.75em; }
  .loader4:before {
    border-radius: 3.5em 3.5em 0 0;
    transform-origin: 0% 100%;
    animation: beforeColor 5s infinite, turn 1.25s infinite; }
  .loader4:after {
    border-radius: 0 0 3.5em 3.5em;
    animation: afterColor 5s infinite; }

@keyframes turn {
  to {
    transform: rotateX(180deg) rotateZ(0); } }

@keyframes rotation {
  0% {
    transform: rotateZ(0); }
  25% {
    transform: rotateZ(0); }
  25.01% {
    transform: rotateZ(90deg); }
  50% {
    transform: rotateZ(90deg); }
  50.01% {
    transform: rotateZ(180deg); }
  75% {
    transform: rotateZ(180deg); }
  75.01% {
    transform: rotateZ(270deg); }
  100% {
    transform: rotateZ(270deg); } }

@keyframes beforeColor {
  0% {
    background: #24a379; }
  25% {
    background: #ffb011; }
  50% {
    background: #2b9db1; }
  75% {
    background: #e11462; }
  100% {
    background: #24a379; } }

@keyframes afterColor {
  0% {
    background: #24a379; }
  25% {
    background: #24a379; }
  25.001% {
    background: #ffb011; }
  50% {
    background: #ffb011; }
  50.001% {
    background: #2b9db1; }
  75% {
    background: #2b9db1; }
  75.001% {
    background: #e11462; }
  99.999% {
    background: #e11462; }
  100% {
    background: #24a379; } }

@keyframes circleColor {
  0% {
    background: #ffb011; }
  25% {
    background: #ffb011; }
  25.01% {
    background: #2b9db1; }
  50% {
    background: #2b9db1; }
  50.01% {
    background: #e11462; }
  75% {
    background: #e11462; }
  75.01% {
    background: #24a379; }
  100% {
    background: #24a379; } }
