.loader1 {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg); }
  .loader1:before, .loader1:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%); }
  .loader1:before {
    animation: keyframes1a 2s infinite; }
  .loader1:after {
    animation: keyframes1b 2s infinite; }

@keyframes keyframes1a {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(36, 163, 121, 0.7), -1em 0.5em rgba(29, 126, 216, 0.7); }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(36, 163, 121, 0.7), 0 0.5em rgba(29, 126, 216, 0.7); }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(36, 163, 121, 0.7), 1em 0.5em rgba(29, 126, 216, 0.7); }
  100% {
    box-shadow: 1em -0.5em rgba(36, 163, 121, 0.7), -1em 0.5em rgba(29, 126, 216, 0.7); } }

@keyframes keyframes1b {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(255, 176, 17, 0.7), -0.5em -1em rgba(225, 20, 98, 0.7); }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(255, 176, 17, 0.7), -0.5em 0 rgba(225, 20, 98, 0.7); }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(255, 176, 17, 0.7), -0.5em 1em rgba(225, 20, 98, 0.7); }
  100% {
    box-shadow: 0.5em 1em rgba(255, 176, 17, 0.7), -0.5em -1em rgba(225, 20, 98, 0.7); } }
