.loader11 {
  position: relative;
  width: 4em;
  height: 4em; }
  .loader11 span {
    position: absolute;
    top: 50%;
    width: 0.4em;
    height: 0;
    border-radius: 2px;
    transform: translate(-50%, -50%); }
  .loader11 :nth-child(1) {
    background: #2edd1a;
    left: 20%;
    animation: keyframes11a 1s linear infinite 0.15s; }
  .loader11 :nth-child(2) {
    background: #ffb011;
    left: 35%;
    animation: keyframes11a 1s linear infinite 0.3s; }
  .loader11 :nth-child(3) {
    background: #1d7ed8;
    left: 50%;
    animation: keyframes11a 1s linear infinite 0.45s; }
  .loader11 :nth-child(4) {
    background: #4ec4db;
    left: 65%;
    animation: keyframes11a 1s linear infinite 0.6s; }
  .loader11 :nth-child(5) {
    background: #e11462;
    left: 80%;
    animation: keyframes11a 1s linear infinite 0.75s; }

@keyframes keyframes11a {
  50% {
    height: 2em; } }
