.loader5 {
  width: 3.5em;
  height: 3.5em;
  box-shadow: inset 0 0 0 0.2em #24a379;
  border-radius: 1.75em;
  background: #222; }
  .loader5:before, .loader5:after {
    content: "";
    display: block;
    width: 3.5em;
    height: 1.75em;
    background: #222; }
  .loader5:before {
    transform-origin: 1.75em 1.75em;
    animation: load2 2s infinite ease 1.5s; }
  .loader5:after {
    transform-origin: 1.75em 0;
    animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
