.loader5 {
  width: 3.5em;
  height: 3.5em;
  border-radius: 1.75em;
  background: #222;
  position: relative;
  animation: circle 12s infinite linear; }
  .loader5:before, .loader5:after {
    content: "";
    position: absolute;
    width: 4.2em;
    height: 2.45em;
    background: #222;
    left: -0.35em; }
  .loader5:before {
    top: -0.35em;
    transform-origin: 2.1em 2.45em;
    animation: rotate 2s infinite ease 1.5s; }
  .loader5:after {
    top: 2.1em;
    transform-origin: 2.1em 0;
    animation: rotate 2s infinite ease; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes circle {
  0% {
    transform: rotate(0deg);
    box-shadow: inset 0 0 0 0.2em #da0000; }
  25% {
    transform: rotate(90deg);
    box-shadow: inset 0 0 0 0.2em #0266c8; }
  50% {
    transform: rotate(180deg);
    box-shadow: inset 0 0 0 0.2em #f2b50f; }
  75% {
    transform: rotate(240deg);
    box-shadow: inset 0 0 0 0.2em #009338; }
  100% {
    transform: rotate(360deg);
    box-shadow: inset 0 0 0 0.2em #da0000; } }
