.loader10 {
  position: relative;
  width: 4em;
  height: 4em; }
  .loader10 .ball {
    position: absolute;
    left: 0;
    top: 50%;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    transform: translate(-50%, -50%); }
  .loader10 :nth-child(1) {
    background: rgba(36, 163, 121, 0.7);
    animation: keyframes9 2s linear infinite 0.3s; }
  .loader10 :nth-child(2) {
    background: rgba(255, 176, 17, 0.7);
    animation: keyframes9 2s linear infinite 0.6s; }
  .loader10 :nth-child(3) {
    background: rgba(184, 20, 225, 0.7);
    animation: keyframes9 2s linear infinite 0.9s; }
  .loader10 :nth-child(4) {
    background: rgba(29, 126, 216, 0.7);
    animation: keyframes9 2s linear infinite 1.2s; }
  .loader10 :nth-child(5) {
    background: rgba(78, 196, 219, 0.7);
    animation: keyframes9 2s linear infinite 1.5s; }
  .loader10 :nth-child(6) {
    background: rgba(46, 221, 26, 0.7);
    animation: keyframes9 2s linear infinite 1.8s; }
  .loader10 :nth-child(7) {
    background: rgba(225, 20, 98, 0.7);
    animation: keyframes9 2s linear infinite 2.1s; }

@keyframes keyframes9 {
  50% {
    left: 100%; } }
