.loader2 {
  position: relative;
  width: 5em;
  height: 5em; }
  .loader2 .ball {
    width: 1px;
    height: 3.5em;
    background: #666;
    position: absolute;
    left: 50%;
    transform-origin: top center; }
  .loader2 .ball:after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: -0.25em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em; }
  .loader2 :nth-child(1) {
    transform: rotate(16deg); }
  .loader2 :nth-child(1):after {
    background: rgba(225, 20, 98, 0.75); }
  .loader2 :nth-child(2) {
    transform: rotate(8deg); }
  .loader2 :nth-child(2):after {
    background: rgba(225, 20, 98, 0.75); }
  .loader2 :nth-child(3) {
    transform: rotate(0deg); }
  .loader2 :nth-child(3):after {
    background: rgba(225, 20, 98, 0.75); }
  .loader2 :nth-child(4) {
    transform: rotate(-8deg); }
  .loader2 :nth-child(4):after {
    background: rgba(225, 20, 98, 0.75); }
  .loader2 :nth-child(5) {
    transform: rotate(-16deg); }
  .loader2 :nth-child(5):after {
    background: rgba(225, 20, 98, 0.75); }

@keyframes swingL {
  0% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }

@keyframes swingR {
  0% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }
