.loader3 {
  position: relative;
  width: 3.5em;
  height: 3.5em;
  border: solid 0.11667em rgba(230, 113, 182, 0.75);
  border-radius: 3.5em; }
  .loader3:before, .loader3:after {
    content: "";
    position: absolute;
    top: 49%;
    left: 50%;
    height: 0.11667em;
    border-radius: 0.11667em;
    transform-origin: left center; }
  .loader3:before {
    width: 1.4em;
    background: rgba(208, 58, 222, 0.75);
    animation: ring 2s linear infinite; }
  .loader3:after {
    width: 1.05em;
    background: rgba(225, 16, 191, 0.75);
    animation: ring 24s linear infinite; }

@keyframes ring {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
