.loader1 {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg); }
  .loader1:before, .loader1:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%); }
  .loader1:before {
    animation: before 2s infinite; }
  .loader1:after {
    animation: after 2s infinite; }

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(254, 59, 239, 0.68), -1em 0.5em rgba(254, 100, 36, 0.88); }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(254, 59, 239, 0.68), 0 0.5em rgba(254, 100, 36, 0.88); }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(254, 59, 239, 0.68), 1em 0.5em rgba(254, 100, 36, 0.88); }
  100% {
    box-shadow: 1em -0.5em rgba(254, 59, 239, 0.68), -1em 0.5em rgba(254, 100, 36, 0.88); } }

@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(62, 254, 177, 0.73), -0.5em -1em rgba(91, 254, 44, 0.75); }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(62, 254, 177, 0.73), -0.5em 0 rgba(91, 254, 44, 0.75); }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(62, 254, 177, 0.73), -0.5em 1em rgba(91, 254, 44, 0.75); }
  100% {
    box-shadow: 0.5em 1em rgba(62, 254, 177, 0.73), -0.5em -1em rgba(91, 254, 44, 0.75); } }
