@import "base";

.item-list li {
    width: 23%;
    margin:0 1% 2%;
    float: left;
    background: #222;
    height: 13rem;
    min-width: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
