$colors:rgba(61, 184, 143, 0.75) rgba(78, 196, 219, 0.75) rgba(233, 169, 32, 0.75) rgba(225, 20, 98, 0.75);
$size: 5em;
$origin: top center;
$startDeg: 24deg;

.loader2 {
  position: relative;
  width: $size;
  height: $size;
  
  .ball {
    width: 1px;
    height: 3.5em;
    background: #666;
    position: absolute;
    left: 50%;
    transform-origin: $origin;    
  }   

  .ball:after {
    content: "";
    position: absolute;
    bottom: -$size / 10;
    left: -$size / 20;
    width: $size / 10;
    height: $size / 10;
    border-radius: $size / 20;    
  }

  @for $i from 1 through 5 {
       :nth-child(#{$i}) {
      transform: rotate($startDeg - 8deg * $i);
      background: nth($colors, #{i});
    }

    :nth-child(#{$i}):after{
      background: nth($colors, 4);
    }
  }

  :nth-child(1) {
    //animation: swing 1s ease-in-out alternate infinite;
  }

  @keyframes swingL {
    0% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(-30deg);      
    }
  }

  @keyframes swingR {
    0% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(-30deg);
    }
  }
}

