$colors:rgb(36, 163, 121) rgb(255, 176, 17) rgb(43, 157, 177)  rgb(225, 20, 98);
$size: 3.5em;
$time:5s;
$angle:90deg;

.loader4 {  
  width: $size;
  height: $size;
  border-radius: $size;
  background: nth($colors,2);
  animation: circleColor $time infinite, rotation $time infinite;
 
  &:before,
  &:after {
    content: "";
    display: block;
    width: $size;
    height: $size / 2;
  }

  &:before {    
    border-radius: $size $size 0 0;
    transform-origin: 0% 100%;
    animation:beforeColor $time infinite, turn $time/4 infinite;
  }

  &:after {
    border-radius: 0 0 $size $size;
    animation: afterColor $time infinite;
  }

  @keyframes turn {
    to {
      transform: rotateX(2 * $angle) rotateZ(0);
    }
  }

  @keyframes rotation {
    0% {
      transform: rotateZ(0);
    }
    25% {
      transform: rotateZ(0);
    }
    25.01% {
      transform: rotateZ($angle);
    }
    50% {
      transform: rotateZ($angle);
    }
    50.01% {
      transform: rotateZ(2 * $angle);
    }
    75% {
      transform: rotateZ(2 * $angle);
    }
    75.01% {
      transform: rotateZ(3 * $angle);
    }
    100% {
      transform: rotateZ(3 * $angle);
    }
  }

  @keyframes beforeColor {
    0% {
      background: nth($colors,1);
    }
    25% {
      background: nth($colors,2);
    }
    50% {
      background: nth($colors,3);
    }
    75% {
      background: nth($colors,4);
    }
    100% {
      background: nth($colors,1);
    }
  }

  @keyframes afterColor {
    0% {
      background: nth($colors,1);
    }
    25% {
      background: nth($colors,1);
    }
    25.001% {
      background: nth($colors,2);
    }
    50% {
      background: nth($colors,2);
    }
    50.001% {
      background: nth($colors,3);
    }
    75% {
      background: nth($colors,3);
    }
    75.001% {
      background: nth($colors,4);
    }
    99.999% {
      background: nth($colors,4);
    }
    100% {
      background: nth($colors,1);
    }
  }

  @keyframes circleColor {
    0% {
      background: nth($colors,2);
    }
    25% {
      background: nth($colors,2);
    }
    25.01% {
      background: nth($colors,3);
    }
    50% {
      background: nth($colors,3);
    }
    50.01% {
      background: nth($colors,4);
    }
    75% {
      background: nth($colors,4);
    }
    75.01% {
      background: nth($colors,1);
    }
    100% {
      background: nth($colors,1);
    }
  }
}