$colors:rgba(223, 18, 225, 0.75) rgba(61, 184, 143, 0.75) rgba(233, 32, 192, 0.75) rgba(46, 221, 26, 0.75) rgba(233, 169, 32, 0.75) rgba(78, 196, 219, 0.75)  rgba(225, 20, 98, 0.75);
$size: 5em;
$origin: top center;
$unitDeg: 8deg;
$maxDeg: $unitDeg * 6;
$minDeg: $unitDeg * 3;

.loader2 {
  position: relative;
  width: $size;
  height: $size;
  transform-origin: $origin;
  animation: keyframes2c 2s linear alternate infinite;
  
  span {
    width: 1px;
    height: 3.5em;
    position: absolute;
    left: 50%;
    transform-origin: $origin;
  }   

  span:after {
    content: "";
    position: absolute;
    bottom: -$size / 10;
    left: -$size / 20;
    width: $size / 10;
    height: $size / 10;
    border-radius: $size / 20;
  }  

  @for $i from 1 through length($colors) {
    :nth-child(#{$i}) {
      transform: rotate($unitDeg * (4 - $i));
      background: nth($colors, $i);

      @if $i == 1 {
        animation: keyframes2a 1.5s ease-in-out alternate infinite;
      } 
      @if $i == length($colors) {
        animation: keyframes2b 1.5s ease-in-out alternate infinite;
      }
    }
  
    :nth-child(#{$i}):after{
      background: nth($colors, $i);
    }    
  }  

  @keyframes keyframes2a {
    0% {
      transform: rotate($maxDeg);
    }
    25% {
      transform: rotate($minDeg);
    }
    75% {
      transform: rotate($minDeg);
    }
    100% {
      transform: rotate($maxDeg);      
    }
  }

  @keyframes keyframes2b {
    0% {
      transform: rotate(-$minDeg);
    }
    25% {
      transform: rotate(-$minDeg);
    }
    50% {
      transform: rotate(-$maxDeg);
    }
    75% {
      transform: rotate(-$minDeg);
    }
  }

  @keyframes keyframes2c {
    0% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(2deg);
    }
  }
}

