$colors: rgb(36, 163, 121) rgb(29, 126, 216) rgb(36, 163, 121);
$size: 5em;

.loader16 {
  width: $size;
  height: $size;
  border-radius: 50%;
  background: nth($colors, 1);
  animation: keyframes16a 2.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  
  @keyframes keyframes16a {
    @for $i from 1 through length($colors){
      #{($i - 1)*50}%{
        transform: rotateY(($i - 1) * 1800deg);
        background: nth($colors, $i);
        @if ($i == 2) {
          animation-timing-function: cubic-bezier(0, 0.5, 0.5 , 1);
        }@else{
          animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
        }
      }
    }
  } 
}