$colors:rgba(36, 163, 121, 0.7) rgba(255, 176, 17, 0.7) rgba(184, 20, 225, 0.7) rgba(29, 126, 216, 0.7) rgba(78, 196, 219, 0.7) rgba(46, 221, 26, 0.7) rgba(225, 20, 98, 0.7);
$size: 4em;

.loader10 {
  position: relative;
  width: $size;
  height: $size;

  .ball {
    position: absolute;
    left: 0;
    top:50%;    
    width: $size / 4;
    height: $size / 4;
    border-radius: $size / 4;
    transform:translate(-50%,-50%);
  }

  @for $i from 1 through length($colors) {
    :nth-child(#{$i}) {
      background: nth($colors, $i);
      animation: keyframes9 2s linear infinite $i*0.3s;
    } 
  }  

  @keyframes keyframes9 {
    50%{
      left:100%;
    }
  }
}

